<mat-card>
  <mat-form-field>
    <input matInput i18n-placeholder placeholder="Nama Lengkap" [formControl]="fullNameValidator" required autofocus [(ngModel)]="fullName">
    <mat-error *ngIf="fullNameValidator.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-card-content style="font-weight: bold"><ng-container i18n>Score</ng-container>: {{submitted?score:''}}</mat-card-content>

  <mat-card-content *ngIf="submitted && wrongAnsers.length>0">
    <ng-container i18n>Wrong answer(s)</ng-container>
    <ul>
      <li *ngFor="let questionNo of wrongAnsers">
        {{ questionNo }}
      </li>
    </ul>
  </mat-card-content>


  <mat-card-content><ng-container i18n>Catatan: Perintah "Click" tanpa diikuti dengan kata "kanan", sama dengan "Click kiri"</ng-container></mat-card-content>

  <mat-card-content><ng-container i18n>Petunjuk</ng-container>:
    <ol>
      <li i18n>
        Isi nama lengkap anda.
      </li>
      <li i18n>
        Click pada baris dengan nomor soal untuk membuka isi soal.
      </li>
      <li i18n>
        Setelah mengerjakan semua soal, click button "Submit". Score anda akan tertulis di atas.
      </li>
      <li i18n>
        Bila score anda belum 10, click button "Retry" untuk mengulang.
      </li>
    </ol>
  </mat-card-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title >
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(1)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(1)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>1. Click pada lambang pesawat terbang di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary" (click)="onLeftClick($event,1)">&#9992;</button>&nbsp;
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(2)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(2)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>2. Click kanan pada lambang bunga di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary" (contextmenu)="onRightClick($event,2)">&#10048;</button>&nbsp;
        <button mat-raised-button color="primary">&#10084;</button>&nbsp;
        <button mat-raised-button color="primary">&#10109;</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(3)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(3)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>3. Double click pada lambang bunga di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div (dblclick)="onDblClick($event, 3)">
        <button mat-raised-button color="primary">&#10048;</button>&nbsp;
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(4)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(4)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>4. Double click pada button dengan tulisan "Belajar" di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary">Buku</button>&nbsp;
        <button mat-raised-button color="primary">Komputer</button>&nbsp;
        <button mat-raised-button color="primary" (dblclick)="onDblClick($event, 4)">Belajar</button>&nbsp;
        <button mat-raised-button color="primary">Stylus</button>&nbsp;
        <button mat-raised-button color="primary">Calculator</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(5)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(5)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>5. Double click pada tulisan "Documents" di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary">Downloads</button>&nbsp;
        <button mat-raised-button color="primary">Desktop</button>&nbsp;
        <button mat-raised-button color="primary">Files</button>&nbsp;
        <button mat-raised-button color="primary" (dblclick)="onDblClick($event, 5)">Documents</button>&nbsp;
        <button mat-raised-button color="primary">New</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(6)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(6)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>6. Double click pada button dengan tulisan "Desktop" di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary" (dblclick)="onDblClick($event, 6)">Desktop</button>&nbsp;
        <button mat-raised-button color="primary">File</button>&nbsp;
        <button mat-raised-button color="primary">Delete</button>&nbsp;
        <button mat-raised-button color="primary">Page</button>&nbsp;
        <button mat-raised-button color="primary">Recycle Bin</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(7)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(7)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>7. Click kanan pada button dengan tulisan "Computer" bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary">PC</button>&nbsp;
        <button mat-raised-button color="primary"(contextmenu)="onRightClick($event,7)">Computer</button>&nbsp;
        <button mat-raised-button color="primary">Komputer</button>&nbsp;
        <button mat-raised-button color="primary">Back</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(8)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(8)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>8. Click pada button dengan tulisan "Word" di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary">Work</button>&nbsp;
        <button mat-raised-button color="primary"(click)="onLeftClick($event,8)">Word</button>&nbsp;
        <button mat-raised-button color="primary">Words</button>&nbsp;
        <button mat-raised-button color="primary">Woks</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(9)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(9)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>9. Click pada button dengan tulisan "Copy" di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary">Paste</button>&nbsp;
        <button mat-raised-button color="primary"(click)="onLeftClick($event,9)">Copy</button>&nbsp;
        <button mat-raised-button color="primary">Cut</button>&nbsp;
        <button mat-raised-button color="primary">Move</button>&nbsp;
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(10)==-1">
            &#9989;
          </ng-container>
          <ng-container *ngIf="submitted && wrongAnsers.indexOf(10)!=-1">
            &#10060;
          </ng-container>
          <ng-container i18n>10. Double click pada button dengan tulisan "Edit" di bawah.</ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div >
        <button mat-raised-button color="primary">View</button>&nbsp;
        <button mat-raised-button color="primary">Cut</button>&nbsp;
        <button mat-raised-button color="primary">Paste</button>&nbsp;
        <button mat-raised-button color="primary" (dblclick)="onDblClick($event, 10)">Edit</button>&nbsp;
        <button mat-raised-button color="primary">Undo</button>&nbsp;
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div style="padding-top: 10px">
    <mat-card-content *ngIf="mobileDetected" style="color: red">
      <ng-container i18n>Submission dengan mobile phone tidak berlaku. Silahkan coba lagi dengan komputer/ laptop anda.</ng-container>
    </mat-card-content>
    <button mat-raised-button color='primary' *ngIf="!submitted && !fullNameValidator.invalid" (click)="submitScore()">Submit</button>&nbsp;
    <button mat-raised-button color='primary' *ngIf="submitted" (click)="reset()">Retry</button>&nbsp;
  </div>
</mat-card>

